main {
	background-color: hsla(0, 100%, 100%, 0.9); 
	border-radius:2em; 
	padding:1em;
	overflow: auto;
}

main div.text {
	float: left;
	margin-left: 2em;
	font-size: 1.5em;
}

main img {
	float: right;
	width: 200px;
	height: auto;
	margin-right: 5em;
}